### Java ###
# Compiled class file
*.class
# Log file
*.log

### Maven ###
target/
pom.xml.releaseBackup

### IntelliJ IDEA ###
/out/
.idea
*.iws
*.iml
*.ipr

resources/vault

### Vault Windows ###
run-tests-win.sh
resources/init-vault-win.sh
resources/vault_0.10.2_windows_amd64.zip

